body {
  font-size: 14px;
  line-height: 18px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
#loading-bg {
  z-index: 998;
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  background: #fff;
  opacity: 0.8;
  -webkit-filter: blur(80px);
  -moz-filter: blur(80px);
  -o-filter: blur(80px);
  -ms-filter: blur(80px);
  filter: blur(80px);
}
#loading {
  z-index: 999;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  line-height: 100px;
}
#main {
  width: 920px;
  margin: 0 auto;
  margin-top: 60px;
}

#gist-list {
}

.gist-item {
  margin-top: 20px;
}

.blog-title {
  font-size: 22px;
}

.blog-content {
  font-size: 16px;
  line-height: 1.8;
}

.gist-item a {
}

.gist-title {
  font-size: 16px;
  line-height: 1.8;
}

.gist-meta a {
  font-size: 13px;
  color: rgb(57, 57, 57);
}

#gist-container {
  position: relative;
  padding-bottom: 30px;
}

.blog-created-at:link,
.blog-created_at:visited {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  color: #333;
}

.blog-content a:link,
.blog-content a:visited {
  color: #333;
}

@media screen and (max-width: 1280px) {
  #main {
    width: 720px;
  }
}
